@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex; 
    flex-direction: column;
    margin: 0;
    height: 120vh;
    justify-content: space-between;
}

.homepage{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto';
    background-color: #1F2937;
    color: white;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.bodys{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    max-width: 900px;
}

.signature{
    font-family: 'Roboto';
}
.qtext{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    font-family: 'Roboto';
}

.website{
    font-size: 48px;
    color: white;
    font-weight: 900px;
}

.text{
    max-width: 370px;
    gap: 10px;
}

.description{
    font-size: 18px;
}

ul{
    display: flex;
    list-style: none;
    gap: 5px;
    font-size: 18px;
}

.header{
    margin-top: 17px;
    font-size: 24px;
}

.desc_img{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto';
    max-width: 1285px;
}

img{
    width: 450px;
    height: 200px;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
    margin-bottom: 35px;
    font-family: 'Roboto';
}

.texts{
    font-family: 'Roboto';
    color: grey;
}

.boxes{
    display: flex;
    max-width: 850px;
    gap: 20px;
}

.box{
    width: 170px;
    height: 170px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.itext{
    color: white;
    border-color: #3882F6;
    padding: 20px;
}


.bbox{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #3882F6;
    color: white;
    font-family: 'Roboto';
    border-radius: 10px;
    padding: 20px;
}

.subutton{
    border: 4px solid white;
    border-radius: 15px;
    width: 100px;
}

.cta{
    padding: 100px;
}