@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex; 
    flex-direction: column;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
}

.homepage{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto';
    background-color: #1F2937;
    color: white;
}

.website{
    font-size: 48px;
    color: white;
    font-weight: 900;
}

.text{
    max-width: 370px;
}

.description{
    font-size: 18px;
}

ul{
    display: flex;
    list-style: none;
    gap: 5px;
    font-size: 18px;
}

.header{
    margin-top: 17px;
    font-size: 24px;
}

.desc_img{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto';
    max-width: 1285px;
}

img{
    width: 450px;
    height: 200px;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 5px;
}